# Gradle files
.gradle/
build/

# Local configuration
local.properties

# IntelliJ / Android Studio files
.idea/
*.iml

# Log files
*.log

# APK / AAB files
*.apk
*.aab

# Keystore files
*.jks

# Misc
.DS_Store
